{% extends 'partials/base.html.twig' %}

{% block content %}
    <article class="post">
        <h1 class="title">{{ page.header.title }}</h1>

        <div class="in-content">
            {{ page.content }}
        </div>
    </article>
{% endblock %}
