{% extends 'partials/base.html.twig' %}

{% block content %}
    <article class="post">
        <header>
            <h2>{{ page.header.title }}</h2>
        </header>

        {{ page.content }}
    </article>
{% endblock %}
