{% extends 'partials/base.html.twig' %}

{% block content %}
    <article class="post">
        <header>
            <h1>{{ page.header.title }}</h1>
        </header>

        <div class="in-content">
            {{ page.content }}
        </div>
    </article>
{% endblock %}
