body {
    padding-bottom: 50px;
    line-height: 1.75;

    @media screen and (max-width: 320px) {
        padding-bottom: 25px;
    }

    & > header {
        padding-top: 20px;

        @media screen and (max-width: 320px) {
            padding-top: 10px;
        }
    }
}

a {
    font-family: "Open Sans", sans-serif
}

footer {
    margin-top: 6em;

    @media screen and (max-width: 320px) {
        margin-top: 3.5em;
    }

    a {
        color: #a5a5a5;
    }

    a:hover {
        color: #e85f37;
    }
}

.container {
    max-width: 662px;
}

.navbar {
    @media screen and (max-width: 320px) {
        margin-bottom: 10px;
    }

    a:focus,
    a:hover {
        background: #fff !important;
        color: #FF6C40 !important;
        transition: all .2s ease-in-out !important;
    }

    .navbar-brand {
        font-weight: 700;
        font-size: 27px;
        letter-spacing: -1px;
        color: #000;
    }

    .navbar-toggle span {
        background: #0f0f0f;
    }

    .navbar-nav li {
        &.active a {
            color: #FF6C40;
        }

        a {
            font-size: 15px;
            font-weight: 500;
            color: #A4A4A4;
        }
    }
}

.intro {
    width: 100%;
    height: 272px;
    padding-top: 117px;
    background: url(../img/head-bg.jpg) #F7F7F7 center 35%;

    .p-intro {
        color: #E85F37;
        font-size: 13px;
        letter-spacing: 2px;
        font-weight: 700;
        text-transform: uppercase;
        padding: 10px 25px;
        background-color: #FFF;
        border: 1px solid #DC5227;
        border-radius: 5px;
        box-shadow: inset 0 -3px 0 #ffcfbc;
        position: relative;
        animation: smooth-entry-btn 1s;

        &:after {
            content: '';
            position: absolute;
            border-style: solid;
            border-width: 9px 9px 9px 0;
            border-color: transparent #FFFFFF;
            display: block;
            width: 0;
            z-index: 1;
            left: -9px;
            top: 12px;
        }

        &:before {
            content: '';
            position: absolute;
            border-style: solid;
            border-width: 11px 10px 11px 0;
            border-color: transparent #DC5227;
            display: block;
            width: 0;
            z-index: 1;
            left: -10px;
            top: 10px;
        }
    }
}

.content {
    padding-top: 75px;

    @media screen and (max-width: 320px) {
        padding-top: 75/2px;
    }

    .blog-list {
        p {
            margin-bottom: 1.65em;
        }

        blockquote p:last-of-type {
            margin-bottom: 0;
        }
    }

    .post-divider {
        text-align: left;
        margin: 6em 0;
        width: 120px;
        border-top-width: 2px;

        @media screen and (max-width: 320px) {
            margin: 3.5em 0;
        }

        &:first-of-type {
            display: none;
        }
    }

    .post {
        h1, h2, h3, h4, h5, h6 {
            color: #000;
            font-family: "Lato", sans-serif;
            font-weight: 400;

            &:not(:first-of-type) {
                margin-top: 1.5em;
            }
        }

        h1 {
            font-size: 22px;

            &:hover {
                color: #FF6C40;
                transition: all .2s ease-in-out;
            }
        }

        h2 {
            font-size: 20px;
        }

        h3 {
            font-size: 18px;
        }

        h4 {
            font-size: 16px;
        }

        a {
            text-decoration: none;
        }

        p {
            color: #535353;
            font-family: "Open Sans", sans-serif;
            font-size: 15px;
            font-weight: 400;
            word-break: break-all;
            word-wrap: break-word;
        }

        .in-content {
            margin-top: 2em;

            img {
                margin-bottom: 20px;
                max-width: 100%;
                height: auto;
            }

            pre {
                padding: 0;
                border: 0;
            }

            code.hljs {
                padding: 1em;
            }

            .desc {
                color: rgba(0, 0, 0, .62);
            }
        }

        .read-more {
            padding: 5px 10px;
            background-color: #FFF;
            border: 1px solid #E85F37;
            border-radius: 5px;
            color: #E85F37;
            font-size: 13px;
            font-weight: 700;
            text-transform: uppercase;
            text-decoration: none;
            letter-spacing: 2px;

            &:hover {
                background-color: #FF6C40;
                color: #fff;
                transition: all .25s ease-in-out;
            }
        }

        .foot-post {
            position: relative;
            margin: 5em 0;
            color: #535353;
            font-family: "Open Sans", sans-serif;
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;

            @media screen and (max-width: 320px) {
                margin: 5/2em 0;
            }

            span {
                font-weight: 400;
                text-decoration: none;
                color: #535353;
            }

            a {
                font-weight: 400;
                text-decoration: none;
                color: #535353;
            }

            a:hover {
                border-bottom: 1px dotted #ccc
            }
        }

        .prev-next .btn {
            font-family: "Helvetica Neue", Helvetica, Tahoma, sans-serif;
            font-size: 1em;
            font-weight: 400;

            margin: 0;
            padding: .55em 2.5em;
            border: 0;
            border-radius: 2px;
            box-shadow: none;

            color: rgba(255, 255, 255, 0.9);
            background: #0f0f0f;

            @media screen and (max-width: 320px) {
                font-size: 1*.9em;
                padding: 0.55*.9em 2.5*.9em;
            }
        }
    }
}

.pagination li {
    margin: 0 2px;

    a, span {
        padding: 7px 9px;
        line-height: 1;

        border: 0;
        border-radius: 2px;

        color: #0f0f0f;
    }

    span {
        cursor: default;
    }

    &.active span,
    &.active span:hover,
    a:focus,
    a:hover {
        background-color: #0f0f0f;
        color: #fff;
    }
}
